body{
    margin: 0;
}

.nav{
    background-color: black;
    display: flex;
    height: auto;
}

.nav p {
    font-weight: 700;
    margin: 0;
    color: white;
    padding: 10px 25px;
    font-size: larger;
    text-transform: uppercase;
}

.nav p:hover{
    background-color: rgb(193, 188, 188);
    color: black;
}

.slides{
    position: relative;
}

.slide-text{
    width: 100%;
    position: absolute;
    color: white;
    text-align: center;
    top: 80% ;
}

.about{
    margin: 100px 300px;
    text-align: justify;
}

.about h1{
    text-align: center;
    text-transform: uppercase;
}

.about .title{
    text-align: center;
    color: rgb(167, 164, 164);
    font-style: italic;
}

.about p{
    font-size: larger;
    line-height: 25px;
}

.member{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 80px 300px;
}

.member img{
    width: 80%;
}

.line{
    margin: auto;
    height: 1px;
    width: 50%;
    background-color: aqua;
}